html {
  font-size: 100px;
  box-sizing: border-box;
  scroll-margin-left: 50px;
}

.body {
  margin: 0;
  padding: 0;
  width: 99vw;
  scroll-behavior: smooth;
  overflow-x: visible;
}

.body__header {
}

.body__latestNews {
}

.body__topArticles {
}

.header {
  align-content: center;
  background-color: #ddd;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__logo {
}

.header__search {
  margin-left: auto;
}

.topMenu__largeMenu1,
.topMenu__largeMenu2 {
  display: none;
}

.latestNew {
  width: 100%;
  /* background-color: #bbb; */
}

.latestNew__latestNewImg {
  float: left;
  margin: 10px 0 0 10px;
}

.latestNew__latestNewDetails {
  display: inline-block;
  float: right;
  margin: 10px 10px 10px 0;
}

.latestNew__latestNewTitle {
  float: right;
  margin: 10px 10px 0 10px;
}

.latestNewDetails {
  width: calc(100% - 120px);
  height: max-content;
  font-size: 0.15rem;
}

.latestNewImg {
  width: 75px;
  height: 75px;
}

.latestNews img{
  height: 2rem;
}

.latestNewTitle {
  width: calc(100% - 120px);
  height: min-content;
  font-size: 0.2rem;
}

.latestNews {
  width: 100%;
  /* background-color: #ddd; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
}

.latestNews__latestNew {
}

.latestNews__latestNewTitle {
  float: left;
}

.latestNewsTitle {
  width: 100%;
  font-size: 0.25rem;
}

.logo {
  background-color: pink;
  height: 43px;
  width: 106px;
}

.mobileMenu {
  background-color: #bbb;
  height: 48px;
  width: 49px;
}

.search {
  background-color: #bbb;
  height: 48px;
  width: 49px;
  visibility: visible;
}

.topArticles {
  width: 100%;
  background-color: #ddd;
}

.topArticles::after {
  content: "";
  display: block;
  clear: both;
}

.topArticles__topArticle1 {
  margin: 2px;
  float: left;
}

.topArticles__topArticleNext {
  margin: 2px;
  float: left;
}

.topArticle1st {
  /* background-color: #bbb; */
  width: 100%;
  height: 30vh;
}

.topImg2 {
  height: 200px;
  width: 4.3rem;
}

.topArticlesub {
  color: white;
}

.topTitle {
  color: white;
  font-size: 45px;
  width: 8rem;
  padding-top: 70px;
}

.topTitle2 {
  color: white;
  font-size: 27px;
  width: 435px;
  margin-top: -187px;
}

.topDetails2 {
  color: white;
  font-size: 15px;
  margin-top: -19px;
}

.topDetails {
  color: white;
  font-size: 15px;
}

.topArticleNext {
  /* background-color: #bbb; */
  margin-top: 200px;
  height: 30vh;
  width: 100%;
  display: inline-block;
}

.topMenu {
  width: 100%;
}

.topMenu__mobileMenu,
.topMenu__search {
  float: right;
}
