html {
  font-size: 100px;
}

.body {
  margin: 0;
  padding: 0;
}

.body__header {}

.body__latestNews {}

.body__topArticles {}

.header {
  align-content: center;
  background-color: #ddd;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__logo {}

.header__search {
  margin-left: auto;
}

.topMenu__largeMenu1, .topMenu__largeMenu2 {
  display: none;
}

.latestNew {
  width: 100%;
}

.latestNew__latestNewImg {
  width: 40vw;
  height: 40vw;
}

.latestNew_latestNewDetails {}

.latestNew_latestNewTitle {}

.latestNewDetails {}

.latestNewImg {}

.latestNewTitle {
  width: 100%;
  background-color: #bbb;
  height: 30px;
  font-size: 0.2rem;
}

.latestNews {
  width: 100vw;
  background-color: #ddd;
  display: flex;
  flex-wrap: wrap;
}

.latestNews__latestNew {}

.latestNews__latestNewTitle {}

.logo {
  background-color: pink;
  height: 43px;
  width: 106px;
}

.mobileMenu {
  background-color: #bbb;
  height: 48px;
  width: 49px;
}

.search {
  background-color: #bbb;
  height: 48px;
  width: 49px;
  visibility: visible;
}

.topArticles {
  width: 100%;
  background-color: #ddd;
}

.topArticles::after {
  content: "";
  display: block;
  clear: both;
}

.topArticle1st {
  background-color: #bbb;
  width: 100vw;
  height: 30vh;
}

.topArticleNext {
  background-color: #bbb;
  height: 30vh;
  width: 100vw;
  display: inline-block;
}

.topArticles__topArticle1 {
  margin: 2px;
  float: left;
}

.topArticles__topArticleNext {
  margin: 2px;
  float: left;
}

.topMenu {
  width: 100%;
}

.topMenu__mobileMenu, .topMenu__search {
  float: right;
}
