@media screen and (min-width: 760px) {
  .header__topMenu {
    float: left;
  }
  .largeMenu1 {
    display: block;
    height: 32px;
    width: 100%;
    background-color: black;
  }
  .largeMenu2 {
    display: block;
    width: 100%;
    height: 45px;
    background-color: #999;
  }
  .logo {
    height: 80px;
  }
  .mobileMenu {
    display: none;
  }
  .topArticle1st {
    width: 65vw;
    height: 65vh;
    max-height: 65vw;
  }
  .topArticleNext {
    width: 32vw;
    height: 32vh;
    max-height: 32vw;
  }
  .topArticles__topArticleNext {
    float: right;
    margin: 0.25vh 0;
  }
  .topMenu {
    width: 100%;
  }
}
